.search_block{
	min-width: 320px;
	margin: 30px;
	.criteria_sidebar{
		display:none;
	}
	.search_panel { 
		display:flex;
		flex-direction: column;
		background-color: #4E148C;
		justify-content: space-between;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.57);
		color:#E8EBF2;
		font-weight: 500;
		font-size: 16px;
		line-height: 19.36px;
		border-radius: 8px;

		.chosen_criteria_block{
			display: flex;
			margin: 15px;
			
			.results_of_choice{
				margin-right: 15px;
			}
			.criteria_block{
				display: flex;
				gap: 15px;
				margin: 0 15px 0 auto;
				
				span{
					display:none;
				}
				.open_criteria_btn{
					border: 4px solid #E8EBF2;
					width: 10px;
					height: 10px;
					transform: rotate(45deg);
					border-top: none;
					border-left: none;
					margin-right: 15px;
					align-self: center;
					cursor: pointer;
					background-color: #4E148C;
					&.active{
						transform: rotate(-134deg);
					}
				}
			}
		}

		.filters_panel {
			display: flex;
			background-color: #4E148C;
			color:#E8EBF2;
			gap: 14%;
			margin: 0 15px;
			
			.filter {
				display: flex;
				flex-direction: column;
				
				h4{
					font-weight: 700;
					font-size: 20px;
					line-height: 24.2px;
				}
		
				label{
					font-weight: 500;
					font-size: 16px;
					line-height: 19.3px;
					margin-bottom: 15px;
					cursor: pointer;
					
					input{
						border:#E8EBF2;
						background-color: #4E148C;
					}
				}
			}
		}
	}
}

@media (min-width: 481px){
	.search_block{
		.search_panel{
			.chosen_criteria_block{
				.criteria_block{	
					span{
						display:block;
						font-size:12px;
						font-weight:500;
					}
				}
			}
		}
	}
}

@media (min-width: 1024px){
	.search_block{
		display:flex;
		gap:40px;
		max-width: 800px;
		margin: 0 auto;

		.criteria_sidebar{
			display:flex;
			
			.filters_panel{
				display:flex;
				flex-direction: column;
				gap: 40px;
				.filter{
					display:flex;
					flex-direction: column;
					padding: 15px;
					border-radius: 10px;
					background-color: #E8EBF2;
					font-weight: 500;
					color:#858AE3;

					h4{
						margin: 0 0 15px 0;
						color:#4E148C;
					}
					label{
						margin: 0 0 15px 0;
						accent-color: #4E148C;
					}
				}
			}
		}

		.search_panel{
			display:none;	
		}
	}
}



