.header{
	display: flex;
	justify-content: center;
	min-width: 320px;
	margin: 30px;
	img{
		width: 90px;
		height: 90px;
	}
	h2{
		display: none;
	}
}
@media(min-width: 1024px){
	.header{
		gap: 30px;
		justify-content: flex-start;
		align-items: center;
		max-width: 800px;
		margin: 0 auto;

		h2{
			display:block;
			color: #4E148C;
		}
	}
}