.header{
	img{
		width: 90px;
		height: 90px;
	}
	h2{
		display: none;
	}
}
@media(min-width: 1024px){
	.header{
		display: flex;
		gap: 30px;
		align-items: center;
		h2{
			display:block;
			color: #4E148C;
		}
	}
}