:root {
  font-family: Inter,  sans-serif;
  line-height: 1.5;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, button, img:hover {
  cursor:pointer;
}

body {
  width: 100%;
}

